@font-face {
  font-family: Inconsolata;
  src: url('./Inconsolata-VF.ttf');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  font-size: 125%;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "Inconsolata",
    "Monaco",
    sans-serif;
}

html, body, main {
  height: 100%;
  margin: 0;
  padding: 0;
}

input {
  -webkit-box-sizing: border-box;
  -webkit-appearance: none;
  border-radius: 0;
}

a, a:active {
  color: #aaa;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

.login.page {
  height: 100%;
  font-size: 150%;
  width: 100%;
  background: #000;
}

.login.page .form {
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  transform: translate(0, -50%);
}

.login.page .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 0.33rem;
  margin: 0;
  box-shadow: none;;
  text-align: center;
  font-size: 99%;
  color: #fff;
  font-weight: 100;
}

#main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.fixed-pane {
  position: fixed;
  left: 0;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;;
  flex-wrap: wrap;
}

.fixed-pane.bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,.66);
  padding: 1px 0px 0px 0px;
  border: none;
}

.fixed-pane.vertical {
  top: 0;
  bottom: 2rem;
  flex-wrap: nowrap;
  justify-content: stretch;
  align-items: stretch;
}

.fixed-pane.center {
  position: fixed;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,.66);

}

.fixed-pane.vertical > article {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding: 1rem;
}

.fixed-pane.vertical > article:nth-child(n+2) {
  border-left: solid 1px rgba(0,0,0,.66);
}

.fixed-pane > article.help {
  background: transparent;
  color: #fff;
}

.fixed-pane > article.suspend {
  background: transparent;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fixed-pane > article > header {
  width: 100%;
  text-align: center;
  min-height: 1.75rem;
  line-height: 1.75rem;
  flex-wrap: nowrap;
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  transform: translate(0, -1rem);
  background: rgba(255,255,255,.75);
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.fixed-pane > article.help > header {
  position: unset;
  background: none;
}

.fixed-pane.vertical > article .item {
  width: 100%;
  min-height: 1.75rem;
  line-height: 1.75rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  flex-wrap: wrap;
  word-break: break-all;
}

.fixed-pane.vertical > article .item.hl {
  background: rgba(0,0,0,.75);
  color: #fff;
}

.fixed-pane.vertical > article .item .username {
  padding-right: 0.33rem;
  font-weight: 800;
}

.fixed-pane.bottom > * {
  width: 100%;
  min-height: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.fixed-pane.bottom label {
  width: 4.5rem;
  padding: 0 .25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.fixed-pane.bottom input {
  width: 100%;
  padding: .3rem .6rem;
  margin: 0;
  font-size: 1.25rem;
  border: none;
}


.help table {
  border-collapse: collapse;
}

.help table th,
.help table td {
  padding: .25rem .5rem;
  border: 1px solid rgba(255,255,255,.75);
}

.help p {
  margin-top: .33rem;
  margin-bottom: .33rem;
}

.help .item {
  margin-bottom: .75rem;
}

.help > section, .help > .item {
  font-size: 75%;
}

.cmdhelp {
  font-style: italic;
  font-weight: 800;
}

canvas {
  display: none;
}

@media (max-width: 480px) {
  html {
    font-size: 100%;
  }

  .fixed-pane.bottom > * {
    min-height: 3rem;
  }

  .fixed-pane.bottom input {
    font-size: 1rem;
  }
}
